/* Coolors Exported Palette - coolors.co/3788cc-0b4f6c-3aafb9-fbfbff-040f16 */

/* HSL */
$color1: hsla(207%, 59%, 51%, 1);
$color2: hsla(198%, 82%, 23%, 1);
$color3: hsla(185%, 52%, 48%, 1);
$color4: hsla(240%, 100%, 99%, 1);
$color5: hsla(203%, 69%, 5%, 1);

/* RGB */
$color1: rgba(55, 136, 204, 1);
$color2: rgba(11, 79, 108, 1);
$color3: rgba(58, 175, 185, 1);
$color4: rgba(251, 251, 255, 1);
$color5: rgba(4, 15, 22, 1);